[Unit]
Description=poetry-collar
After=syslog.target

[Service]
User={{ user }}
Environment=JAVA_OPTS=--enable-preview
ExecStart={{ app_path }}/poetry-collar/poetry-collar.jar --spring.profiles.active=prod  --server.ssl.key-store-password={{ pwd }}
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target